* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 15px;

  text-align: center;
  
}
header {
  padding: 5% 0;
 background-color: #bbb;
}

section {
  min-height: 50px;
  padding: 2% 0;
  
}
